################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chatter/.vs/Chatter/DesignTimeBuild/.dtbcache.v2
/Chatter/.vs/Chatter/v16/.suo
